@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100;0,200;0,400;1,300&family=Barriecito&family=Dancing+Script:wght@400;500&family=IBM+Plex+Sans+Condensed:wght@100&family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100;0,200;0,400;1,300&family=Barlow+Condensed:wght@100&family=Barriecito&family=Dancing+Script:wght@400;500&family=IBM+Plex+Sans+Condensed:wght@100&family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100;0,200;0,400;1,300&family=Barlow+Condensed:wght@100&family=Barriecito&family=Dancing+Script:wght@400;500&family=Dawning+of+a+New+Day&family=IBM+Plex+Sans+Condensed:wght@100&family=Lora&display=swap');
/* BODY */

/* * { 
    border: 2px red solid;
}
*/
html{
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    text-align: center;
    
}

/* HEADER */

.hola{
    font-family: 'Lora', serif;
    color: rgb(27, 27, 27);
    text-decoration: none;
    font-size: 30px;
}

.nav {
    text-decoration: none;   
    list-style-type: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
.listaNav{
    color: grey;
    font-family: "Barlow Condensed", Sans-serif;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    margin: 10px;
}
.listaNav:hover {
    border-bottom: black solid 2px;
    color: black;
}

.listaPedirCita {
    background-color: rgb(112, 111, 111);
    color: white;
    font-family: "Barlow Condensed", Sans-serif;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    margin: 10px;
}


.listaPedirCita:hover {
    background-color: rgb(77, 76, 76);
    color:aliceblue
 
}

.fondoHeader {
    background-color: rgb(233, 233, 233);
}

/* Main */


/* index */
.contenedorIndex {
    display: flex;
    height: calc(100vh - 100px);  
}

.signoPsico {
    height: 40px;
}

.cajaIndex {
    border: solid 1px rgb(233, 233, 233);
    border-radius: 3px;
    height: 550px;
    width: 1200px;
    max-width: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-image: url(../img/agua.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    filter: brightness( 100% ) contrast( 100% ) saturate( 37% ) blur( 0px ) hue-rotate( 0deg );
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Lora', serif;
    font-size: 50px;
    color: aliceblue;
    text-transform: uppercase;
    padding-top: 150px;

}
.tituloSecundario {
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: lowercase;
}

/* Sobre Mi */
.contenedorSobreMi {
    display: flex;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(233, 233, 233);
    
    border: #a3a2a3 solid 2px;
}

.florSobreMi {
    width: 300px;
    border-radius: 1px;
    box-shadow: #a3a2a3;
    margin: 30px;
    padding: 30px;
}
.textoPrincipal {
    margin: 20px;
    padding: 20px;
    text-align-last: left;
    align-items: center;
    font-family: 'Dawning of a New Day', cursive;
    
}
.textoSobremi {
    font-size: 40px;
    margin-bottom: 30px;
}
.texto { font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #7a7a7a ;
}

/* Mi especialidad */

.especializada{
    font-family: 'Dancing Script', cursive;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contenedor1 {
    position: relative;
    height: 450px;
    top: 50px;
}
.cabeza {
    position: absolute;
    font-size: 12px;
    text-align: center;
}

.uno {
    left: 300px;
}

.dos {
    left: 500px;
}

.tres {
    left: 700px;
}

.cuatro {
    left: 900px;
}

.cinco {
    left: 1100px;
}

/* Proceso terapeutico */

.divTerapia {
    position: relative;
    height: 900px;
}
.tituloTerapia {
    position: relative;
    display: inline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    font-size: 60px;
    top: 50px;
    left: 300px;
}

.tituloTerapiaDos {
    position: relative;
    display: inline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 80px;
    left: 100px;
}

.textoTerapia {
    position: relative;
    display: inline-block;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 750px;

}
.terapiaFoto{
    display: inline;
    width: 600px;
    position:absolute;
    top: 50px;
    left: 1200px;
}

/* Informacion */

.contenedorPrincipal{
    position: relative;
    height: 900px;
    top: 50px;
}

.cajaMadre {
    position: absolute;
    background-color: #d1cbce ;
    width: 1300px;
    height: 300px;
    margin: 20px 100px 400px 100px;
}

.cajaConsulta {
    position: absolute;
    display: inline-block;
    border: 1px black solid;
    left: 200px;
    top: -15px;
    background-color: rgb(250, 226, 247);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icono {
    position: absolute;
    font-size: 12px;
    text-align: center;
    top: 99px;
    font-weight: bold;
}

.persona {
    left: 250px;
}

.tiempo {
    left: 450px;
}

.plata{
    left: 650px;
}
.online{
    left: 1000px;
}
.presencial{
    left: 1200px;
}
.fotoInfo {
    position: absolute;
    display: inline-block;
    width: 1400px;
    margin: 400px 50px 3px 50px;
}

/* Solicitar una cita */

.solicitarCita {
    
    
    display: block;
    height: 100%;

}

.tituloCita{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    position: relative;
    left: 330px;
}
.classh3{
    position: absolute;
    width: 30%;
    left: 330px;
    font-family: 'Caprasimo', cursive;
}

.formulario {
    position: absolute;
    background-color: rgb(252, 243, 249);
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    padding: 10px;
    left: 300px;
    top: 400px;
}

.nombre {
    display: block;
}
.mensaje {
    display: block;
}
.telefono {
    display: block;
}
.enter{
    position: relative;
    display: inline-block;
}
.flor4{
    display: inline-block;
    position: relative;
    width: 400px;
    left: 1000px;
    top: -100px;
}


/* Footer */

.footer {
    background-color: #a3a2a3;
    margin-top: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-top: solid grey 2px;
}

.parrafo {
    margin: 20px;
    padding: 20px;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

@media (min-width:375px) and (max-width:768px) {
    .hola {
        font-size: 70%;
    }
    .footer {
        flex-wrap: wrap;
    }
    .contenedorSobreMi {
        flex-wrap: wrap;
    }     
    .textoPrincipal {
        font-size: medium;
    }
    .contenedorFotoSobreMi {
        margin-right: auto;
        margin-left: auto;
    }
    

}