@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100;0,200;0,400;1,300&family=Barriecito&family=Dancing+Script:wght@400;500&family=IBM+Plex+Sans+Condensed:wght@100&family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100;0,200;0,400;1,300&family=Barlow+Condensed:wght@100&family=Barriecito&family=Dancing+Script:wght@400;500&family=IBM+Plex+Sans+Condensed:wght@100&family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100;0,200;0,400;1,300&family=Barlow+Condensed:wght@100&family=Barriecito&family=Dancing+Script:wght@400;500&family=Dawning+of+a+New+Day&family=IBM+Plex+Sans+Condensed:wght@100&family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100;0,200;0,400;1,300&family=Barlow+Condensed:wght@100&family=Barlow:wght@100&family=Barriecito&family=Dancing+Script&family=Dawning+of+a+New+Day&family=IBM+Plex+Sans+Condensed:wght@100&family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100;0,200;0,400;1,300&family=Barlow+Condensed:wght@100&family=Barriecito&family=Dancing+Script&family=Dawning+of+a+New+Day&family=IBM+Plex+Sans+Condensed:wght@100&family=Lora&family=Mukta:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-color: whitesmoke;
}

/* HEADER */
.fondoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(233, 233, 233);
  width: 100%;
}

.hola {
  font-family: "Lora", serif;
  color: rgb(36, 36, 36);
  text-decoration: none;
  font-size: 30px;
  flex-grow: 23;
  display: flex;
  justify-content: center;
}

.nav {
  text-decoration: none;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.listaNav {
  color: #7a7a7a;
  font-family: "Barlow Condensed", Sans-serif;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}
.listaNav:hover {
  border-bottom: black solid 2px;
  color: black;
}

.listaPedirCita {
  background-color: rgb(112, 111, 111);
  color: white;
  font-family: "Barlow Condensed", Sans-serif;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  margin: auto;
}
.listaPedirCita:hover {
  background-color: rgb(77, 76, 76);
  color: aliceblue;
}

/* index */
.contenedorIndex {
  display: flex;
  height: calc(100vh - 100px);
}

.signoPsico {
  display: flex;
  height: 40px;
  width: 40px;
}

.cajaIndex {
  border: solid 1px rgb(233, 233, 233);
  border-radius: 3px;
  height: 550px;
  width: 1200px;
  max-width: 90%;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background-image: url(../img/agua.jpg);
  background-size: cover;
  filter: brightness(100%) contrast(100%) saturate(37%) blur(0px) hue-rotate(0deg);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lora", serif;
  font-size: 50px;
  color: aliceblue;
  text-transform: uppercase;
}

.tituloSecundario {
  font-size: 28px;
  font-family: "Times New Roman", Times, serif;
  text-transform: lowercase;
}

/* Sobre Mi */
.contenedorSobreMi {
  display: flex;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(233, 233, 233);
  max-width: 100%;
}

.florSobreMi {
  width: 300px;
  border-radius: 1px;
  box-shadow: #a3a2a3;
  margin: 30px;
  padding: 30px;
  box-shadow: 0px 0px 7px 0px black;
}

.textoPrincipal {
  width: 90%;
  margin: 20px;
  padding: 20px;
  text-align-last: left;
  align-items: center;
  font-family: "Dawning of a New Day", cursive;
}

.textoSobremi {
  font-size: 40px;
  margin-bottom: 30px;
}

.texto {
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #7a7a7a;
}

/* Mi especialidad */
.mainEspecialidad {
  max-width: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px 10px 10px;
  font-weight: bold;
}

.especializada {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: color-texto;
  font-family: "Mukta", Sans-serif;
  font-size: 30px;
  margin-top: 90px;
  margin-bottom: 50px;
  font-weight: bold;
}

.contenedor1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
  font-family: "Barlow", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(36, 36, 36);
  padding: 15px;
  margin: auto;
}

.cabeza {
  text-align: center;
  height: 100%;
  margin: 10px;
  padding: 5px;
}

.textoCabeza {
  margin: 5px;
  font-weight: bold;
}

/* Proceso terapeutico */
.mainProceso {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  max-width: 100%;
}

.contenedorPrincipaProceso {
  display: flex;
  justify-content: space-around;
  align-items: safe;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: rgb(233, 233, 233);
  padding: 20px;
  max-width: 100%;
}

.divTextoTerapia {
  flex-direction: column;
  justify-content: space-between;
  width: 59%;
  padding: 10px 5px 5px 15px;
  margin-left: 20px;
  margin-top: 20px;
}

.divFotoTerapia {
  width: 37%;
  height: 100%;
  margin-right: 20px;
  margin-top: 20px;
  padding: 10px 15px 5px 15px;
}

.tituloTerapia {
  color: rgb(36, 36, 36);
  font-family: "Barlow", Sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-align: end;
  width: 80%;
  margin-top: 15px;
}

.textoTerapia {
  justify-content: center;
  color: #7a7a7a;
  font-family: "Mukta", Sans-serif;
  font-size: 20px;
  text-align: right;
  line-height: 1.4em;
  width: 95%;
  margin-top: 70px;
}

.terapiaFoto {
  flex: 1;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

/* Informacion */
.mainInformacion {
  max-width: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px 10px 10px;
}

.contenedorPrincipalInformacion {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to top left, rgb(216, 216, 216), white);
  max-width: 100%;
  width: 80%;
  height: 350px;
  border: solid rgb(78, 77, 77) 1px;
}

.h2Informacion {
  width: 100%;
  padding: 0px 5px 5px 5px;
  color: rgb(36, 36, 36);
  margin-bottom: 20px;
}

.contenedorIconos {
  display: flex;
  padding: 10px;
}

.icono {
  display: block;
  width: calc(33.33% - 20px);
  text-align: center;
  margin: 10px;
}

.sectionImagenInformacion {
  position: relative;
  padding: 30px 200px 50px 200px;
  width: 100%;
  max-width: 1800px;
  margin: auto;
}

.fotoInformacion {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

/* Solicitar una cita */
.mainSolicitarCita {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.sectionSolicitarCita1 {
  margin: 50px 400px 40px 100px;
  padding: 20px;
  width: 60%;
}

.sectionSolicitarCita2 {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 50px;
  background-color: rgb(233, 233, 233);
  max-width: 100%;
}

.tituloCita {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(36, 36, 36);
  font-family: "Barlow", Sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  text-align: center;
}

.classh3 {
  text-align: left;
  color: color-texto;
  font-family: "Mukta", Sans-serif;
  font-size: 18px;
}

.mb-3 {
  margin: 5px;
}

.btn-primary {
  background-color: black;
  border: none;
  border-radius: 1px;
  width: 200px;
  height: 50px;
  margin: 20px;
  text-transform: uppercase;
  font-family: "Mukta", Sans-serif;
  font-weight: bold;
}

.formulario {
  font-family: "Mukta", Sans-serif;
  font-size: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 50%;
}

/* Footer */
.footer {
  background: linear-gradient(to top, rgb(200, 200, 200), rgb(240, 240, 240));
  margin-top: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 0px 0px 7px 0px black;
}

.parrafo {
  margin: 20px;
  padding: 20px;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  color: #7a7a7a;
}

@media screen and (max-width: 480px) {
  .hola {
    font-size: 70%;
  }
  .footer,
  .contenedorSobreMi {
    flex-wrap: wrap;
  }
  .textoPrincipal {
    font-size: small;
  }
  .formulario {
    width: 100%;
  }
  .contenedorFotoSobreMi {
    margin-left: auto;
    margin-right: auto;
  }
  .bodyMiEspecialidad {
    display: grid;
  }
  .sectionSolicitarCita2 {
    width: 90%;
  }
  .sectionSolicitarCita1 {
    width: 90%;
    margin: 45px;
  }
  .contenedorIconos {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .sectionImagenInformacion {
    max-width: 100%;
    padding: 10px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    flex-wrap: wrap;
  }
  .formulario {
    width: 75%;
  }
  .contenedorIconos {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .sectionImagenInformacion {
    max-width: 80%;
    padding: 20px;
  }
  .textoPrincipal {
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
  }
  .contenedorFotoSobreMi {
    margin-left: auto;
    margin-right: auto;
  }
  .contenedorSobreMi {
    flex-wrap: wrap;
  }
  .divFotoTerapia {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .btn-primary {
    width: 100px;
  }
}
@media screen and (max-width: 1050px) {
  .divTextoTerapia,
  .sectionImagenInformacion {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

/*# sourceMappingURL=estilo.css.map */
