/* index */

.contenedorIndex {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cajaMayor {
  width: 100%;
  max-width: 100%;
  display: flex;
}
.cajaSigno {
  display: flex;
}
.signoPsico {
  height: 80px;
  width: 80px;
}
.signoPsico2 {
  height: 250px;
  width: 200px;
}
.cajaIndex {
  border: solid 1px $color-fondo;
  border-radius: 3px;
  height: 550px;
  width: 1200px;
  max-width: 90%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background-image: url(../img/agua.jpg);
  background-size: cover;
  filter: brightness(100%) contrast(100%) saturate(37%) blur(0px) hue-rotate(0deg);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lora', serif;
  font-size: 50px;
  color: aliceblue;
  text-transform: uppercase;
}
.cajaNombreLogo {
  width: 100%;
}
.tituloSecundario {
  font-size: 28px;
  font-family: 'Times New Roman', Times, serif;
  text-transform: lowercase;
}
