/* Informacion */

.mainInformacion {
  max-width: 100%;
  width: 100%;
  @include margincostadosauto;
  padding: 10px 10px 10px 10px;
}

.contenedorPrincipalInformacion {
  margin-top: 50px;
  @include margincostadosauto;
  background: linear-gradient(to top left, rgb(216, 216, 216), white);
  max-width: 100%;
  width: 80%;
  height: 350px;
  border: solid rgb(78, 77, 77) 1px;
}

.h2Informacion {
  width: 100%;
  padding: 0px 5px 5px 5px;
  color: $color-titulos;
  margin-bottom: 20px;
}

.contenedorIconos {
  display: flex;
  padding: 10px;
}

.icono {
  display: block;
  width: calc(33.33% - 20px);
  text-align: center;
  margin: 10px;
}

.sectionImagenInformacion {
  position: relative;
  padding: 30px 200px 50px 200px;
  width: 100%;
  max-width: 1800px;
  margin: auto;
}

.fotoInformacion {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}