@media screen and (max-width: 480px) {

    .tituloNombre {
        font-size: 83%;
    }

    .listaPedirCitaMobile {
        font-size: 10px;
    }

    .contenedorSobreMi {
        flex-wrap: wrap;
    }

    .textoPrincipal {
        font-size: small;
    }

    .formulario {
        width: 100%;
    }

    .contenedorFotoSobreMi {
        @include margincostadosauto;
    }

    .sectionSolicitarCita2 {
        width: 90%;
    }

    .sectionSolicitarCita1 {
        width: 90%;
        margin: 45px;
    }

    .contenedorIconos {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .icono {
        width: 20%;
        font-size: 10px;
        max-width: 100%;    
    }
    .textoPrimerosTresItem {
        font-size: 1px;
    }
    .textoUltimosItem {
        font-size: 2px;
    }
    .sectionImagenInformacion {
        max-width: 100%;
        padding: 10px;
    }
}

@media screen and (max-width: 768px) {
    
    .container-fluid{
        padding: 5px;
        border-bottom: 1px $color-texto solid ;
    }
    .listaPedirCitaMobile {
        font-size: 13px;
    }

    .footer {
        flex-wrap: wrap;
    }

    .formulario {
        width: 75%;
    }

    .iconoCuatro {
        
        border-bottom: solid 1px $color-texto;
    }
    .iconoCinco {
        
        border-bottom: solid 1px $color-texto;
    }
    .textoPrimerosTresItem {
        font-size: 100%;
    }
    .textoUltimosItem {
        font-size: 100%;
    }
    .sectionImagenInformacion {
        max-width: 100%;
        padding: 20px;
    }

    .textoPrincipal {
        flex-wrap: wrap;
        width: 100%;
        max-width: 100%;
        @include margincostadosauto;
        font-size: medium;
    }

    .contenedorFotoSobreMi {
        @include margincostadosauto;
    }

    .contenedorSobreMi {
        flex-wrap: wrap;
    }

    .divFotoTerapia {
        width: auto;
        @include margincostadosauto;
    }

    .btn-primary {
        width: 100px;
    }
    
}

@media screen and (max-width: 1050px) {

    .divTextoTerapia,
    .sectionImagenInformacion {
        width: auto;
        @include margincostadosauto;
    }
  
}

@media screen and (min-width: 992px) and (max-width: 3000px) {


    .btn-primary {
        width: 100px;
    }
    .listaPedirCitaMobile {
        display: none;
    }
}