@media screen and (max-width: 480px) {
    .hola {
        font-size: 70%;
    }

    .footer,
    .contenedorSobreMi {
        flex-wrap: wrap;
    }

    .textoPrincipal {
        font-size: small;
    }

    .formulario {
        width: 100%;
    }

    .contenedorFotoSobreMi {
        @include margincostadosauto;
    }

    .bodyMiEspecialidad {
        display: grid;
    }

    .sectionSolicitarCita2 {
        width: 90%;
    }

    .sectionSolicitarCita1 {
        width: 90%;
        margin: 45px;
    }

    .contenedorIconos {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .sectionImagenInformacion {
        max-width: 100%;
        padding: 10px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        flex-wrap: wrap;
    }

    .formulario {
        width: 75%;
    }

    .contenedorIconos {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .sectionImagenInformacion {
        max-width: 80%;
        padding: 20px;
    }

    .textoPrincipal {
        flex-wrap: wrap;
        width: 100%;
        max-width: 100%;
        @include margincostadosauto;
        font-size: medium;
    }

    .contenedorFotoSobreMi {
        @include margincostadosauto;
    }

    .contenedorSobreMi {
        flex-wrap: wrap;
    }

    .divFotoTerapia {
        width: auto;
        @include margincostadosauto;
    }

    .btn-primary {
        width: 100px;
    }
}

@media screen and (max-width: 1050px) {

    .divTextoTerapia,
    .sectionImagenInformacion {
        width: auto;
        @include margincostadosauto;
    }
}