@media screen and (max-width: 480px) {
    .hola {
        font-size: 70%;
    }
    .footer {
        flex-wrap: wrap;
    }
    .contenedorSobreMi {
        flex-wrap: wrap;
    }     
    .textoPrincipal {
        font-size: medium;
    }
    .formulario {
        width: 100%;
    }
    .contenedorFotoSobreMi {
        margin-right: auto;
        margin-left: auto;
    }
    
    .bodyMiEspecialidad {
        display: grid;
    }
    .sectionSolicitarCita2 {
        width: 90%;
    }
    .sectionSolicitarCita1 {
        width: 90%;
        margin: 45px;
        }
    .contenedorIconos {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }    
    .sectionImagenInformacion {
        max-width: 100%;
        padding: 10px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        flex-wrap: wrap;
    }
    .formulario {
        width: 75%;
    }
    .contenedorIconos {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .sectionImagenInformacion {
        max-width: 80%;
        padding: 20px;
    }
}
