/* Mi especialidad */

.mainEspecialidad {
  max-width: 100%;
  width: 100%;
  @include margincostadosauto;
  padding: 10px 10px 10px 10px;
  font-weight: bold;
}

.especializada {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: color-texto;
  font-family: "Mukta", Sans-serif;
  font-size: 30px;
  margin-top: 90px;
  margin-bottom: 50px;
  font-weight: bold;
}

.contenedor1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
  font-family: "Barlow", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: $color-titulos;
  padding: 15px;
  margin: auto;
}

.cabeza {
  text-align: center;
  height: 100%;
  margin: 10px;
  padding: 5px;
}

.textoCabeza {
  margin: 5px;
  font-weight: bold;
}