/* Proceso terapeutico */

.mainProceso {
  width: 100%;
  @include margincostadosauto;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  max-width: 100%;
}

.contenedorPrincipaProceso {
  display: flex;
  justify-content: space-around;
  align-items: safe;
  flex-wrap: wrap;
  @include margincostadosauto;
  margin-top: 30px;
  background-color: $color-fondo;
  padding: 20px;
  max-width: 100%;
}

.divTextoTerapia {
  flex-direction: column;
  justify-content: space-between;
  width: 59%;
  padding: 10px 5px 5px 15px;
  margin-left: 20px;
  margin-top: 20px;
}

.divFotoTerapia {
  width: 37%;
  height: 100%;
  margin-right: 20px;
  margin-top: 20px;
  padding: 10px 15px 5px 15px;
}

.tituloTerapia {
  color: $color-titulos;
  font-family: "Barlow", Sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-align: end;
  width: 80%;
  margin-top: 15px;
}

.textoTerapia {
  justify-content: center;
  color: $color-texto;
  font-family: "Mukta", Sans-serif;
  font-size: 20px;
  text-align: right;
  line-height: 1.4em;
  width: 95%;
  margin-top: 70px;
}

.terapiaFoto {
  flex: 1;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}