/* Sobre Mi */

.contenedorMayorSobreMi {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
.contenedorSobreMi {
  display: flex;
  @include margincostadosauto;
  background-color: $color-fondo;
  max-width: 90%;
}

.florSobreMi {
  width: 120%;
  padding: auto;
}

.textoPrincipal {
  width: 50%;
  padding: 20px;
  text-align-last: left;
  align-items: center;
  font-family: 'Dawning of a New Day', cursive;
}

.contenedorFotoSobreMi {
  width: 60%;
  padding: auto; 
  margin: auto;
  max-width: 100%;
}
.textoSobremi {
  font-size: 40px;
  margin-bottom: 30px;
}

.texto {
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: $color-texto;
}